@font-face {
  font-family: 'tstar_twregular';
  src: url("fonts/tstar_tw-regular-webfont.eot");
  src: url("fonts/tstar_tw-regular-webfont.ttf") format('truetype'), url("fonts/tstar_tw-regular-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/tstar_tw-regular-webfont.woff") format('woff'), url("fonts/tstar_tw-regular-webfont.svg#tstar_twregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: 'tstar_twregular';
}
.backgroundRed{
        background: white;
}
#container, #paperjs-canvas {
  width: 100%;
  height: 100%;
}

.infos {
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.infos h1 { margin-bottom:-5px;}
.infos .instructions { color: #444; font-style: italic; position : absolute; right:20px; bottom:0px;}

.debug {
  position: absolute;
  top : 0;
  pointer-events : none;
}